.dashboard-summary-card {
  width: 100%;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.dashboard-summary-card mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.dashboard-summary-card mat-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.summary-item {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin: 8px 0;
}
